<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="com.android.courier">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />

    <permission
            android:name="android.permission.FLASHLIGHT"
            android:permissionGroup="android.permission-gro up.HARDWARE_CONTROLS"
            android:protectionLevel="normal" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
            android:name="android.hardware.camera.flash"
            android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
            android:name=".application.MyApplication"
            android:fullBackupContent="@xml/backup_descriptor"
            android:icon="@drawable/ic_app"
            android:label="@string/app_name"
            android:networkSecurityConfig="@xml/network_security_config"
            android:roundIcon="@drawable/ic_app"
            android:supportsRtl="true"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="GoogleAppIndexingWarning"
            tools:targetApi="n">
        <activity
                android:name=".views.tutorials.TutorialActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden"></activity>
        <activity
                android:name=".views.home.LandingActivty"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustNothing" />

        <activity
                android:name=".views.SplashActivity"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
                android:name=".views.authentication.LoginActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden" />
        <activity
                android:name=".views.chat.ChatActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden" />
        <activity
                android:name=".views.chat.DriverChatActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden" />
        <activity
                android:name=".views.webviews.WebViewActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden" />

        <activity
                android:name=".views.refer.LoyaltyPointsListActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden" />
        <activity
                android:name=".views.payments.TransactionHistoryActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden" />

        <activity
                android:name=".views.promocode.PromoCodeActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden" />

        <activity
                android:name=".views.orders.AddAddressActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden" />

        <activity
                android:name=".views.contacts.ContactListActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden" />

        <activity
                android:name=".views.refer.ReferAndEarn"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden" />

        <activity
                android:name=".views.payment.PaymentActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden" />
        <activity
                android:name=".views.orders.CreateOrderActivty"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
                android:name=".views.orders.OrderDetailActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden" />
        <activity
                android:name=".views.authentication.SignupActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden" />
        <activity
                android:name=".views.authentication.ForgotPasswrodActivity"
                android:screenOrientation="portrait" />
        <activity
                android:name=".views.authentication.OTPVerificationActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden" />
        <activity
                android:name=".views.authentication.ResetPasswrodActivity"
                android:screenOrientation="portrait" />
        <activity
                android:name=".views.authentication.ChangePasswrodActivity"
                android:screenOrientation="portrait" />
        <activity
                android:name=".views.home.MyBookingsActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden" />
        <activity
                android:name=".views.activity.DashboardActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden" />
        <activity
                android:name=".views.services.CreateBookingActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden" />
        <activity
                android:name=".views.services.ServiceDetail"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden" />
        <activity
                android:name=".views.history.HistoryBookingActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden" />
        <activity
                android:name=".views.chat.ChatInnerListActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden" />
        <activity
                android:name=".views.booking.BookedServiceDetail"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden" />
        <activity
                android:name=".views.booking.BookingRulesDetail"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden" />
        <activity
                android:name=".views.booking.EmployeeProfileDetail"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden" />
        <activity
                android:name=".views.authentication.UserOptionActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden" />
        <activity
                android:name=".views.booking.ServiceDescriptionActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden" />
        <activity
                android:name=".views.contactus.ContactUsActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden" />
        <activity
                android:name=".views.socket.DriverTrackingActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden" />

        <activity
                android:name=".views.authentication.MyAccountsActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden" />

        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="com.android.courier.fileprovider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/fileprovider" />
        </provider>

        <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="@string/maps_api_key" />

        <meta-data
                android:name="com.facebook.sdk.ApplicationId"
                android:value="@string/facebook_app_id" />

        <service
                android:name=".firebaseMobile.MyFirebaseMessagingService"
                android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
            </intent-filter>
        </service>

        <meta-data
                android:name="com.google.firebase.messaging.default_notification_icon"
                android:resource="@drawable/ic_app" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <meta-data
                android:name="com.google.firebase.messaging.default_notification_color"
                android:resource="@color/colorAccent" />

        <!-- <meta-data
                 android:name="com.google.firebase.messaging.default_notification_channel_id"
                 android:value="@string/default_notification_channel_id" />-->
        <!--  <service
                  android:name=".firebaseMobile.MyFirebaseMessagingService"
                  android:exported="false">
              <intent-filter>
                  <action android:name="com.google.firebase.MESSAGING_EVENT" />
              </intent-filter>
          </service>-->

        <activity
                android:name="com.facebook.FacebookActivity"
                android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
                android:label="@string/app_name" />
        <activity
                android:name="com.facebook.CustomTabActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
    </application>

</manifest>